@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 84.9%;
    --accent-foreground: 240 5.9% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 25.9%;
    --accent-foreground: 0 0% 88%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
}

/**
 * Removes clear "X" from Algolia search box
 * https://codesandbox.io/s/no-submit-no-reset-zihtl?file=/src/App.css:504-670
 * https://discourse.algolia.com/t/not-have-button-on-search-bar/8963
 */

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button {
  @apply invisible hidden;
}

::-ms-clear {
  @apply invisible hidden;
}

/**
 * rehype-code-titles & code
 */

[data-rehype-pretty-code-title] {
  @apply absolute right-6 top-3 mt-0 text-base text-gray-900 dark:text-gray-200;
}

[data-rehype-pretty-code-fragment] > pre {
  @apply my-0 overflow-x-auto rounded-none font-mono text-base;
}

/**
 * Prose
 */

.converted-html {
  @apply prose prose-lg mb-8 max-w-none break-words dark:prose-invert prose-a:text-blue-700 prose-a:no-underline hover:prose-a:text-blue-500 prose-img:m-0 dark:prose-a:text-blue-300 dark:hover:prose-a:text-blue-500;
}

.footnotes {
  @apply text-sm;
}
